/* 기본 스타일 */

/* 프로필 페이지 스타일 */
body,
html {
  height: 100%; /* 화면에 꽉 채우기 */
  margin: 0;
}

.home-content {
  display: flex;
  flex-wrap: wrap; /* 요소가 한 줄에 다 들어가지 않을 때 다음 줄로 넘어감 */
  align-items: stretch; /* 아이템을 화면 높이에 맞춤 */
  height: 100vh; /* 화면 전체 높이에 맞춤 */
  padding: 20px;
}

.profile-info {
  width: calc(20% - 10px); /* 3분의 1, 오른쪽 마진 고려하여 조정 */
  margin-right: 40px; /* 오른쪽 여백 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 20px; /* 아래 여백 추가 */
}

.profile-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-info::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: black;
  height: calc(100% - 40px); /* 경계선 길이 조정 */
}

.bio {
  width: calc(75% - 10px); /*왼쪽 마진 고려하여 조정 */
}

/* 미디어 쿼리를 이용한 반응형 스타일 */

/* 작은 화면(모바일 기기)에 대한 스타일 */
@media only screen and (max-width: 600px) {
  .profile-info,
  .bio {
    width: 100%; /* 모든 공간을 차지하도록 수정 */
    margin-right: 0; /* 마진 제거 */
    margin-bottom: 20px; /* 아래 여백 추가 */
  }

  .profile-info::after {
    display: none; /* 작은 화면에서 경계선 숨김 */
  }
}
